<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.2.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <servers>
    <server>
      <username>vinod.madarapu@gmail.com</username>
      <password>cmVmdGtuOjAxOjE3MzUwNDAwOTY6TTM1bXA5ZE1rcHM4b2MzdjgwU1EyeVRJNmtm</password>
      <id>central</id>
    </server>
    <server>
      <username>vinod.madarapu@gmail.com</username>
      <password>cmVmdGtuOjAxOjE3MzUwNDAwOTY6TTM1bXA5ZE1rcHM4b2MzdjgwU1EyeVRJNmtm</password>
      <id>snapshots</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>my-mvn-virtual-releases</name>
          <url>https://svk2015.jfrog.io/artifactory/my-mvn-local-releases</url>
        </repository>
        <repository>
          <snapshots />
          <id>snapshots</id>
          <name>my-mvn-virtual-snapshots</name>
          <url>https://svk2015.jfrog.io/artifactory/my-mvn-local-snapshots</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>my-mvn-virtual-releases</name>
          <url>https://svk2015.jfrog.io/artifactory/my-mvn-local-releases</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>my-mvn-virtual-snapshots</name>
          <url>https://svk2015.jfrog.io/artifactory/my-mvn-local-snapshots</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
